{% extends 'base.html'%}
{% load bootstrap4 %}
{% block content%}
{{block.super}}

<div class= "container">

        <div class="table-responsive-sm">
              
                 
                <table class="table table-hover ">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>ID</th>
                      <th>CODE</th>
                      <th></th>
                      <th></th>
                      <th></th>
                     
                    </tr>
                  </thead>
            
                  <tbody>
                    <tr>
                      <td>{{inst.name}}</td>
                      <td>{{inst.id}}</td>
                      <td>{{inst.code}}</td>
                      <td><a href="{% url 'visitor:county_update' inst.id %}">Update</a></td>
                      <td><a href="{% url 'visitor:county_delete' inst.id %}">Delete</a></td>
                      <td><a href="/pdf">Print PDF</a></td>
                    </tr>
                  
                
                  </tbody>
              
                </table>
              </div>

{% endblock%}
