{% extends 'base.html'%}
{% load bootstrap4 %}
{% block content%}
{{block.super}}
<h2 id="testingcss">TEST</h2>

<div class= "container">

<div class="table-responsive-sm">
      
         
        <table class="table table-hover ">
          <thead>
            <tr>
              <th>Name</th>
              <th>ID</th>
            
             
            </tr>
          </thead>
           
        {% for mgeni in mgeni%}
          <tbody>
            <tr>
              <td><a href="{{mgeni.get_absolute_url}}">{{mgeni.name}}</a></td>
              <td>{{mgeni.id}}</td>
                <!-- <td><a href="{{mgeni.get_absolute_url}}">View</a></td> -->
            </tr>
          
        
          </tbody>
          {%endfor%}
        </table>
      </div>
    </div><button type="button" class="btn btn-outline-warning" style="margin-left:90px; margin-bottom:30px;"><a href="/create">Add a visitor</a></button>
  </div><button type="button" class="btn btn-outline-warning" style="margin-left:90px; margin-bottom:30px;"><a href="/pdf">Print PDF</a></button>
    <!-- <a href="/create">Add</a> -->
<div class="pagination" style="margin-left:90px;">
        <span class="step-links">
        <ul class="pagination">
            {% if mgeni.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ mgeni.previous_page_number }}">previous</a></li>
            {% endif %}
    
            <!-- <li class="current">
              Page {{ mgeni.number }} of {{ mgeni.paginator.num_pages }}.
            </li>
           -->
            {% if mgeni.has_next %}
            
                <li class="page-item"><a class="page-link" href="?page={{ mgeni.next_page_number }}">1</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ mgeni.paginator.num_pages }}">2 &raquo;</a></li>
            {% endif %}
        </ul>
        </span>
    </div>
{% endblock%}


